<a href="https://colab.research.google.com/github/bharatchudasama/Mobile_price_Pridiction/blob/main/DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

# Load the dataset
file_path = '/content/Mobile-Phones.csv'  # Replace with your actual file path
mobile_phones_df = pd.read_csv(file_path)

# Step 1: Handle missing values by checking the number of missing values per column
missing_values = mobile_phones_df.isnull().sum()
missing_values

brand                  0
model                  0
sd_card                0
main_camera          222
resolution           527
display              556
sim_card             781
os                   209
color                  0
region                 0
location               0
screen_size(inch)    123
battery(mAh)         161
storage(GB)            2
ram(GB)              777
selfie_camera(MP)    291
price(¢)               0
dtype: int64

In [5]:

# Step 2: Standardize text data (e.g., sd_card column 'yes'/'no')
mobile_phones_df['sd_card'] = mobile_phones_df['sd_card'].str.lower()

In [6]:
# Step 3: Convert relevant columns to numeric data types
numeric_columns = ['screen_size(inch)', 'battery(mAh)', 'storage(GB)', 'ram(GB)', 'selfie_camera(MP)', 'price(¢)']
mobile_phones_df[numeric_columns] = mobile_phones_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [7]:
# Step 4: Standardize the 'main_camera' column to extract the first camera resolution if it exists
mobile_phones_df['main_camera'] = mobile_phones_df['main_camera'].str.extract(r'(\d{1,3})').astype(float)

# Step 5: Count the number of models for each brand
brand_model_counts = mobile_phones_df['brand'].value_counts()

# Step 6: Identify brands with more than 10 models or data points
brands_to_keep = brand_model_counts[brand_model_counts > 10].index

# Step 7: Filter the dataset to keep only rows where the brand has more than 10 models
cleaned_mobile_phones_df = mobile_phones_df[mobile_phones_df['brand'].isin(brands_to_keep)]

# Save the cleaned dataset to a new CSV file
cleaned_file_path = '/content/Cleaned_Mobile_Phones.csv'  # Replace with your desired save location
cleaned_mobile_phones_df.to_csv(cleaned_file_path, index=False)

print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.