<a href="https://colab.research.google.com/github/bharatchudasama/Mobile_price_Pridiction/blob/main/DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT DATA SET AND LIBRARY

In [29]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder , LabelEncoder as le
from sklearn.model_selection import train_test_split

In [3]:

# Load the dataset
file_path = '/content/Mobile-Phones.csv'  # Replace with your actual file path
mobile_phones_df = pd.read_csv(file_path)
df =mobile_phones_df

# DATA PREPROCESSING

In [4]:
# Display the first few rows to verify the data
print("First few rows of the dataset:")
print(df.head())

First few rows of the dataset:
     brand                 model sd_card                    main_camera  \
0  Samsung            Galaxy S10     yes       3 Cameras: 12, 12, 16 MP
1  Samsung  Galaxy Note 20 Ultra     yes      3 Cameras: 108, 12, 12 MP
2  Samsung         Galaxy A54 5G     yes        3 Cameras: 50, 12, 5 MP
3    Tecno          Camon 20 Pro      no            2 Cameras: 64, 2 MP
4  Samsung      Galaxy S22 Ultra      no  4 Cameras: 108, 10, 10, 12 MP

    resolution       display sim_card       os   color         region  \
0  1440 x 3040        AMOLED   Single  Android   White  Greater Accra
1  1440 x 3088        AMOLED     Dual  Android  Bronze  Greater Accra
2  1080 x 2340  Super AMOLED     Dual  Android   Black  Greater Accra
3  1080 x 2400        AMOLED     Dual  Android   Black  Greater Accra
4  1400 x 3088        AMOLED     Dual  Android   Black  Greater Accra

             location  screen_size(inch)  battery(mAh)  storage(GB)  ram(GB)  \
0              Circle               6.10        3400.0        128.0      8.0
1              Circle               6.90        4500.0        128.0     12.0
2  Accra Metropolitan               6.40        5000.0        256.0      8.0
3  Accra Metropolitan               6.67        5000.0        256.0      8.0
4  Accra Metropolitan               6.80        5000.0        512.0     12.0

   selfie_camera(MP)  price(¢)
0               10.0    2450.0
1               10.0    5000.0
2               32.0    3000.0
3               32.0    1900.0
4               40.0    5750.0

In [5]:
# Step 1: Handle missing values by checking the number of missing values per column
missing_values = df.isnull().sum()
missing_values

brand                  0
model                  0
sd_card                0
main_camera          235
resolution           536
display              566
sim_card             790
os                   219
color                  0
region                 0
location               0
screen_size(inch)    127
battery(mAh)         170
storage(GB)            3
ram(GB)              788
selfie_camera(MP)    307
price(¢)               0
dtype: int64

In [6]:
# 1. Drop rows where both 'main_camera' and 'resolution' are NULL
df.dropna(subset=['main_camera', 'resolution','display','storage(GB)'], inplace =True)
# 2. Fill NULL values in 'sim_card' with "single"
df['sim_card'].fillna('Single', inplace=True)
# 3. Fill NULL values in 'os' based on 'Brand'
df['os'] = df.apply(lambda x: 'iOS' if x['brand'] == 'Apple' else 'Android' if pd.isnull(x['os']) else x['os'], axis=1)
# 4. Fill missing values in 'ram', 'battery', and 'selfie_camera' with their respective column means
df['ram(GB)'].fillna(df['ram(GB)'].mean(), inplace=True)
df['battery(mAh)'].fillna(df['battery(mAh)'].mean(), inplace=True)
df['selfie_camera(MP)'].fillna(df['selfie_camera(MP)'].mean(), inplace=True)
df['screen_size(inch)'].fillna(df['screen_size(inch)'].mean(), inplace=True)
missing_values = df.isnull().sum()
missing_values

<ipython-input-6-ebc49360fcd1>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sim_card'].fillna('Single', inplace=True)
<ipython-input-6-ebc49360fcd1>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ram(GB)'].fillna(df['ram(GB)'].mean(), inplace=True)
<ipython-input-6-ebc49360fcd1>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['battery(mAh)'].fillna(df['battery(mAh)'].mean(), inplace=True)
<ipython-input-6-ebc49360fcd1>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['selfie_camera(MP)'].fillna(df['selfie_camera(MP)'].mean(), inplace=True)
<ipython-input-6-ebc49360fcd1>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['screen_size(inch)'].fillna(df['screen_size(inch)'].mean(), inplace=True)

brand                0
model                0
sd_card              0
main_camera          0
resolution           0
display              0
sim_card             0
os                   0
color                0
region               0
location             0
screen_size(inch)    0
battery(mAh)         0
storage(GB)          0
ram(GB)              0
selfie_camera(MP)    0
price(¢)             0
dtype: int64

In [7]:
# droping location and region as it is of no use
df.drop(['region', 'location'], axis=1, inplace=True)

# Spliting into X and y

In [8]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

# Enoding Categoriacl Data

# Encoding Independent Variables

In [41]:
ct = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(), [0, 1, 2, 3, 4, 5, 6, 7, 8])  # Apply OneHotEncoder to specified columns
    ],
    remainder='passthrough'  # Keep the remaining columns (numerical) as they are
)

In [42]:
X_transformed = ct.fit_transform(X)

# Spliting into X_train, X_test , Y_train,y_test

In [43]:
# Convert to dense array if it's a sparse matrix
X_transformed_dense = X_transformed.toarray() if hasattr(X_transformed, "toarray") else X_transformed

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X_transformed_dense, y, test_size=0.2, random_state=1)

# Display shapes of the split datasets
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(2343, 593) (586, 593) (2343,) (586,)